@import "animation.scss";
@import "common.scss";

*[class^="push-"] {
  box-sizing: unset !important;
}

.push-widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1vh 1vh 0;
  position: fixed;
  right: 0;
  z-index: 9999;
  align-items: flex-end;
  justify-content: flex-end;  

  &.push-chat-open {
    width: var(--widgetWidth);
    height: var(--widgetHeight);
  }

  &.push-full-screen.push-chat-open {
    @include push-widget-container-fs;
  }
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.push-widget-embedded {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .push-widget-container.push-chat-open {
    @include push-widget-container-fs;
  }
}
