:root {
    --titleColor: #fff;
    --subtitleColor: #fff;
    --headerBackgroundColor: #003a9b;
    --launcherColor: #003a9b;
    --chatBackgroundColor: #fff;
    --inputBackgroundColor: #f4f7f9;
    --inputFontColor: #000;
    --inputPlaceholderColor: #b5b5b5;
    --userMessageBubbleColor: #003a9b;
    --userMessageTextColor: #fff;
    --botMessageBubbleColor: #f4f7f9;
    --botMessageTextColor: #000;
    --widgetHeight: 65vh;
    --widgetWidth: 370px;
    --launcherHeight: 60px;
    --launcherWidth: 60px;
    --quickRepliesFontColor: #0084ff;
    --quickRepliesBackgroundColor: none;
    --quickRepliesBorderColor: #0084ff;
    --quickRepliesBorderWidth: 1px;
    --fullScreenBotMessageBubbleColor: rgba(0, 0, 0 ,0);
    --suggestionsBackgroundColor: #edf1f3;
    --suggestionsSeparatorColor: #e6e6e6;
    --suggestionsFontColor: grey;
}


$green-1: #35e65d;
$grey-1: #cdd8ec;
$grey-2: #f4f7f9;
$grey-3: #b5b5b5;
$grey-4: #e6e6e6;
$turqois-1: #35cce6;
$turqois-2: #a3eaf7;
$white: #fff;
$red-1: #ff0000;
$red-2: #ff7070;
$blue-1: #003a9b;
$blue-2: #0084ff;